[2018-03-13 03:47] cryptogoth opened #1 "Speed up compilation"
Currently running `node js/compile.js` compiles all files from scratch. We can check file modification timestamps, or do some kind of immutable / verifiable builds with bazel, to speed up compilation.

[2018-12-06 05:04] cryptogoth opened #2 "Compiler should check for similar filenames"
For example, extension `.sol` being swapped with `.solc`

[2018-12-06 05:06] cryptogoth opened #3 "Add CI and npm link to this github repo"

[2018-12-06 05:06] cryptogoth opened #4 "Update name of zeppelin-solidity package in deps"

[2018-12-06 05:13] cryptogoth opened #5 "Come up with a better design for joining promises"
rather than nested then's

[2018-12-06 05:14] cryptogoth opened #6 "Finish committing leftover changes in working directory"
including renaming files in `outputs` from `.js` to `.json` extensions.

[2018-12-06 05:19] cryptogoth opened #7 "Audit, reduce package count, and then pin version numbers"
we need `web3` and `config`

[2018-12-06 05:20] cryptogoth opened #8 "Create expected subdirectories"
`outputs`, `keys`, `src`, `config`, and a `bin` that symlinks to `scripts` or `js`

[2019-01-29 04:09] cryptogoth commented on #7
This seems cryptic. The original task said "audit and then pin version numbers" and I'll add that we should check to see why we are including so many other packages. The above seems less than ideal. 238 packages?
And also, yeah, the security vulnerabilities.
[code]

[2019-02-04 18:55] cryptogoth opened #9 "`do` command doesn't supply `from` spender address"
The new command for interacting with smart contract methods doesn't supply the `from` field
[code]

To reproduce
 446  ./demo.js link TestUseLibrary test account0 link2 TestLibrary=deploy7
  447  git status
  448  vi src/TestUseLibrary.sol
  449  ./demo.js compile TestUseLibrary.sol
  450  ./demo.js link TestUseLibrary test account0 link2 TestLibrary=deploy7
  451  ./demo.js link TestUseLibrary te

[2019-02-17 22:53] cryptogoth commented on #3
Added to README.

[2019-02-17 22:53] #3 closed

[2019-02-17 22:53] cryptogoth commented on #4
updated.

[2019-02-17 22:53] #4 closed

[2019-02-17 22:54] cryptogoth commented on #6
done.

[2019-02-17 22:54] #6 closed

[2019-02-17 22:55] cryptogoth opened #10 "Add a test for deploys/links with existing name"
with expected failure, using chai-as-promised pattern.

[2019-02-17 22:57] cryptogoth opened #11 "Design a way to bind parameters to commands"
Use Case 1:
bind all subsequent calls to use a `test` network, so we don't have to manually call `getNetwork` and get its `net_version`

Use Case 2:
bind all subsequent calls to operate on a particular contract i.e. `TestLibrary`

[2019-02-19 05:58] cryptogoth commented on #11
Use Case 3:
create a sequence of calls for uplifting a group of contracts / linkages together

[2019-02-21 01:34] cryptogoth opened #12 "Improve code coverage"
Currently `nyc` is instrumented to run as
`npm run cov`
and produces the following output.

There are some errors to remove, as well as improving code coverage below closer to 100%.

----------------------------|----------|----------|----------|----------|-------------------|
File                        |  % Stmts | % Branch |  % Funcs |  % Lines | Uncovered Line #s |
----------------------------|

[2019-02-21 01:36] cryptogoth opened #13 "Improve linting"
which is currently run as
`npm run lint`

Reduce the error count to 0 from
[code]

[2019-04-04 18:03] cryptogoth commented on #8
We are migrating to storing all outputs (and intermediates) in the db, which could also be remote.

`src` should always be local static source files for this package, so we rely on the author creating it when source files are committed into it in git.

We no longer use old-style `config` files, which have been moved into `NODE_ENV` based config in `@democracy.js/utils`, or a `js`subdirectory.

fil

[2019-04-04 18:03] #8 closed

[2019-04-04 18:04] cryptogoth commented on #11
a scheme has been designed for this in my notebook, but it's not high priority to implement right now.

[2019-04-04 18:04] #11 closed

[2019-04-04 18:05] cryptogoth commented on #1
re-compiling based on presence of compile outputs and `inputHash` (keccak hash) of the source file has now been added as part of the `@democracy.js/compile` package

[2019-04-04 18:05] #1 closed

[2019-04-04 18:06] cryptogoth commented on #9
the design of a `do` command requires more thought, not least of which that `do` is a reserved keyword in Javascript.

[2019-04-04 18:06] #9 closed

[2019-04-04 18:07] #12 closed

[2019-04-04 18:08] cryptogoth commented on #7
All `package.json`'s now use exact version numbers.
The situation has vastly improved since this ticket was cut.

[2019-04-04 18:08] #7 closed

[2019-04-04 18:09] cryptogoth commented on #2
this is a low-priority event, we prefer to use `.sol` filename extensions for now.

[2019-04-04 18:09] #2 closed

[2019-04-20 21:47] cryptogoth commented on #13
this is now an idea on the project kanban. closing here.

[2019-04-20 21:47] #13 closed

[2019-04-20 21:48] cryptogoth commented on #5
The pattern, following `mocha`'s `describe` and `it` design, is to use `await`'s in `async` functions, and shared variables in the `describe` scope, e.g. for ERC tokens that other contracts are waiting on.

[2019-04-20 21:48] #5 closed

[2019-04-20 22:28] cryptogoth commented on #10
Deploys and Links now do not fail on existing name, but return it instead.
More work is needed to check inputHash to know if rebuilding is appropriate.
Will add a more detailed task in kanban.

[2019-04-20 22:28] #10 closed

[2019-07-23 20:37] cryptogoth opened #20 "Switch to ethjs-unit from web3-utils, remove lodash deps"
There are 7 severe vulnerabilities related to lodash/axios in `demo-keys` due to the dependence on `web3-utils`, purely for the purpose of the utility methods `toWei` and `fromWei`.

These are also provided by `ethjs-unit` in a probably smaller file size without this dependency. This task is to measure (webpack'd) file sizes before, switch them over, measure file sizes after, commit/push, verify v

[2019-11-23 06:37] cryptogoth opened #31 "Design a logo for typed transform pipelines"
## A logo for what?

Typed transform pipelines are one way for Ethereum users to coordinate with each other off-chain and manage zero-knowledge assets, before committing to on-chain actions in a minimal way. I'm using them for private trading, and they can also be used for private voting, and to make an interactive REPL in about 20 lines of code!

I'd like a visually memorable logo to use at the t

[2019-11-24 10:30] cryptogoth commented on #31
Hi @karansinghgit thanks for your interest. Do you have any experience with logo or illustration design, or examples of your previous work?

[2019-11-25 06:58] cryptogoth commented on #31
Hi @kvndlgs thanks for your interest. I like your portfolio on Behance, you're cleared to start work. Let me know if I can provide more guidance.

[2019-11-25 13:16] kvndlgs commented on #31
Hi, Thank you, I'm glad to take part in your project. I've been reading
the briefing as well as the post on Medium and the details were sufficient
for me to understand the purpose and create a meaningful logo. Feel free to
include additional directives if needed.

On Mon, Nov 25, 2019 at 1:58 AM Paul Pham <notifications@github.com> wrote:

[2019-11-27 08:05] cryptogoth commented on #31
Hi @virtual-face thanks for your interest. I looked at your other design work on gitcoin. Great contributions, and I think you might be better suited for a later task I need for a web design. I'll reach out to you again when I post it.

[2019-11-28 17:02] biuxmaster commented on #31
@cryptogoth  Hi, I made a sketch. Please tell me what do you think about it, so that I can make the PR
![pipeline](https://user-images.githubusercontent.com/49821444/69823439-c5706980-1200-11ea-8d16-74ed753ebb4f.jpg)

[2019-11-29 03:27] cryptogoth commented on #31
@biuxmaster it's beautiful, please feel free to make the PR with the SVG. What program did you use?

[2019-11-29 13:33] biuxmaster commented on #31
Hi, I'm glad you like it. I made it on Illustrator. Do you want me to make the PR with just one specific color or can I make the SVG file with the 3 colors?

[2019-11-29 20:57] biuxmaster commented on #31
I already make the PR with the 3 colors https://github.com/invisible-college/democracy/pull/34

[2019-11-29 22:51] cryptogoth commented on #31
Thanks @biuxmaster all three colors are great, and thank you also @kvndlgs for your great PR.
Gitcoin is currently down, and I'd like to award both of you the cooperative bounties.
Would you want to use Bounties Network in the meantime, or wait until Gitcoin comes back up?

https://explorer.bounties.network/bounty/3743

[2019-11-29 23:50] kvndlgs commented on #31
Hi, glad you liked it, I just pushed the new PR that includes the latest version of the logo. Has Gitcoin gotten back online since? Otherwise, I'm fine using the bounties network as well.

[2019-11-30 01:38] biuxmaster commented on #31
Hi, for me it's fine too to use the bounties network. Please tell me if I need to do something else

[2019-11-30 01:42] cryptogoth commented on #31
Hi @kvndlgs @biuxmaster unfortunately Gitcoin appears still down, and the funds for one reward are in that contract. If you send me your preferred Ethereum address here, I can reward you directly if you prefer (let me know SAI or ETH).

[2019-11-30 01:56] kvndlgs commented on #31
Hi @cryptogoth No problem, I'll go for ETH. my wallet is: 0x256011999E3F1648229951138044dAcbec470Ff7
Have a nice weekend, thanks again.

[2019-11-30 01:56] biuxmaster commented on #31
@cryptogoth Thanks for your attention. I'll go for ETH. my address is : 0xe3fD0c0704A7002056eA10332825CB72094495A8

[2019-12-02 01:36] cryptogoth commented on #31
@biuxmaster @kvndlgs payments sent, thanks for the great work and contributing visual ideas.

[2019-12-02 01:44] #31 closed

[2019-12-02 01:45] cryptogoth commented on #20
This has been fixed and out for awhile. I'll re-open with another dependabot ticket if that's not the case.

[2019-12-02 01:45] #20 closed

[2019-12-03 13:12] cryptogoth opened #36 "Re-design mockup for zero-knowledge assets"
## Description

Zero-knowledge assets are a way to transfer ownership of a private asset (the amount transferred is secret) on a public blockchain (in this case Ethereum is the blockchain, and AZTEC is the zero-knowledge technology built on top of it). There are two kinds of assets on Ethereum (public tokens, sometimes called ERC20, and a newer, private kind, called ERC1724). Don't think of these

[2019-12-06 18:48] cryptogoth commented on #36
hi @seichris thanks for applying and linking to your previous work. You're good to start. In answer to your question, I'd prefer the workflow be so simple as to show all the information at once (no hiding, not modal). For example, the Step 1 (choosing an amount to send) should remain active to show an updated balance after Step 2 (choosing a recipient)

[2019-12-09 16:21] seichris commented on #36
@cryptogoth i made a first draft for the page:
Here is the editable figma: https://www.figma.com/file/46KvltxYaEXPazXweqQIEV/Confidential-Transfer-Demo?node-id=0%3A1
And this is the click-through demo: https://www.figma.com/proto/46KvltxYaEXPazXweqQIEV/Confidential-Transfer-Demo?node-id=1%3A141&viewport=-44%2C252%2C0.39714527130126953&scaling=min-zoom

Let me know what you think // what you would

[2019-12-09 17:43] cryptogoth opened #37 "Fix linting errors in all lerna packages"
Currently in demo-utils, there are 20 errors that cannot be fixed automatically.

Clone the repo, bootstrap all the packages, then make sure `yarn lint:fix` runs without errors.

[code]

You can create a branch off of `master`, push your changes there, and create a pull request off of their for a code review from me.

[2019-12-09 20:47] cryptogoth commented on #36
@seichris this looks wonderful, thank you!
I especially like the clean design of the main interaction and the emoji avatars.

How do you feel about making your main token interaction take up the whole screen?
![screenshot](https://user-images.githubusercontent.com/148553/70470130-60d2cb80-1a98-11ea-8c9f-db0b430d6eca.png)

We can add a title into the header-bar like "Zero-knowledge Assets"
I also l

[2019-12-10 14:19] seichris commented on #36
@cryptogoth Thanks for the nice feedback!

1. About the full-screen I am not sure, since the whole UI does not really need the full space of the screen. Maybe you want to use the background for something else?

2. Had the same idea about the random name generator. Did you see my comment?

3. Not sure if I understand the logic about sending tokens. Do you want users to send only one token, or edit

[2019-12-10 15:13] cryptogoth commented on #36
Hi Chris,

1. the full header bar across the top and steps 1 and 2 being narrower works for me. Interesting idea about using background, will keep thinking. Maybe showing the march of recent block numbers across the screen. the darker solid color for now focuses user attention well.

2. Figma comment? I'll take another look.

3. For simplicity I'm imagining the user can only send one token at a ti

[2019-12-10 16:13] seichris commented on #36
Ok great. I'll also think about the background a bit.

2. It's just funny, we came up with the same solution. Seems to be the intuitive one :)

3. To show the icon only on hover makes sense. Also we could do a small hover animation to focus the current item and make the others a bit opaque. Like in the navigation bar here https://sagescaling.com/

![navbar](https://user-images.githubusercontent.co

[2019-12-10 16:44] cryptogoth commented on #36
2. just read it, yes. Lol Satoshi Buterin and Mr. Robot, I will definitely have to add them into the mix.

3. Love it. For Step 1, the editable field can just disappear for all the tokens that are not beneath the cursor hover. The balances for all the tokens (non-editable, but not grayed out) would still appear in a separate column, like in the original mockup.

![screenshot](https://user-images.g

[2019-12-10 19:42] cryptogoth commented on #36
Great progress is happening, and I didn't mean to cut short any more work or ideation. I'll keep the bounty open until the deadline and would love to see and reward additional submissions, or collaborations among all of us to solve the remaining design puzzles above.

[2019-12-10 20:58] seichris commented on #36
Ok, just fixed the design again and included the hover animations in the click-through demo: https://www.figma.com/proto/46KvltxYaEXPazXweqQIEV/Confidential-Transfer-Demo?node-id=50%3A51&viewport=374%2C301%2C0.1188763678073883&scaling=min-zoom

[2019-12-10 21:52] biuxmaster commented on #36
@cryptogoth  Hi, I made a draft and I'd like to know what do you think about it.
![design](https://user-images.githubusercontent.com/49821444/70572244-58ad8580-1b97-11ea-8e16-f0f916ad5750.jpg)

[2019-12-11 08:08] cryptogoth commented on #36
Beautiful banner image and icons, thank you for another original design @biuxmaster
Can you send a link to the original Figma?

My main feedback, open to ideas or suggestions: can you try another main color besides purple?
Also, I'm feeling the need for more space between the tops of the circle icons for each step and the "Democracy.js" and "You are connected" bar.

For the avatar icons, can you c

[2019-12-11 14:23] cryptogoth commented on #36
Thank you @seichris your last mockup's interaction is smooth, and all the elements work together to create a self-contained experience. Making a clickable demo with Figma is now my favorite feature.

@writeprovidence @biuxmaster I'm glad to pay additional bounty amounts for any submissions of yours as well in next three days.

[2019-12-11 14:45] biuxmaster commented on #36
@cryptogoth  Hi, I already fixed the design with the ideas you gave, also, please don't forget to check the comments
https://www.figma.com/file/KEV19jwlvgd3m9lexQx9KL/Confidential-Transfer-Demo?node-id=0%3A1

[2019-12-12 19:12] cryptogoth commented on #36
Thanks @biuxmaster the design updates looks great. Is it okay if I pay out the ETH for the bounty directly to the same address as last time?

[2019-12-12 19:22] biuxmaster commented on #36
I'm glad you liked it  and yes sure no problem for me

[2019-12-12 21:11] cryptogoth commented on #36
Payment sent @biuxmaster thank you again. I will wait for all submissions on gitcoin before paying out the bounty next time, just to get this counted in your Gitcoin stats.

Looking forward to working with you all in the next bounty.

[2019-12-12 21:11] #36 closed

[2019-12-12 22:23] cryptogoth opened #39 "Implement zero-knowledge mockup as a static React page"
## Background

Zero-knowledge assets are a way to transfer ownership of a private asset (the amount and participant addresses can be secret) on a public blockchain. In this case, Ethereum is the blockchain, and AZTEC is the zero-knowledge technology built on top of it. There are two kinds of assets on Ethereum: public tokens, called ERC20, and a newer, private kind, called ERC1724.

This project w

[2019-12-13 04:53] writeprovidence commented on #36
@cryptogoth  almost done with the design. was still working on it

[2019-12-13 04:54] writeprovidence commented on #36
will be done before dateline

[2019-12-13 06:17] writeprovidence commented on #36
@cryptogoth sorry for sending my design a bit late, here is a link to what i could come up with https://www.figma.com/file/Q5FU7i93rFB8cBK1R5trkf/zero-knowledge-assets?node-id=0%3A1

[2019-12-13 06:22] writeprovidence commented on #36
thanks, waiting for your feedback

[2019-12-13 14:32] cryptogoth commented on #39
hi @owonwo can you provide links to your past work online, preferrably deployed as websites? Thanks.

[2019-12-13 14:36] cryptogoth commented on #36
Hi @writeprovidence thanks for the effort. I think the design is too similar to previous submissions to qualify for the bounty, and it is past the deadline. For future bounties, please check in here on the github issue thread earlier and more often, and hopefully we can get your ideas and work integrated into a collaboration.

[2019-12-13 15:16] writeprovidence commented on #36
@cryptogoth Thanks for your feedback

[2019-12-13 15:31] owonwo commented on #39
https://www.yourex.io/
https://peexo-witty-rabbit.now.sh/
https://cateyes-web.owonwo.now.sh/

[2019-12-13 15:44] owonwo commented on #39
Thank you @cryptogoth. But I the link to the first mockup doesn't work, it says 404.

[2019-12-13 15:46] cryptogoth commented on #39
Thanks @owonwo impressive work and very similar to what's needed for this task, you're cleared to start. Oops about the figma link, I'll ask the original designer @seichris to make the document public.
Another thing: the bounty deadline got recorded incorrectly somehow, but I'd like to complete the work by next Thursday, not one month from now. Hope that works for you as well.

[2019-12-13 15:47] owonwo commented on #39
I'll be more certain when I see the first mockup. Thanks @cryptogoth

[2019-12-13 15:49] cryptogoth commented on #39
@owonwo can you try this link to the editable Figma, and request access?
https://www.figma.com/file/46KvltxYaEXPazXweqQIEV/Confidential-Transfer-Demo?node-id=31%3A2

[2019-12-13 15:49] owonwo commented on #39
Still shows 404.

[2019-12-13 15:50] cryptogoth commented on #39
Hmm... strange. Can you send me your email address and I'll invite you to the Figma? You can delete it from this github thread afterwards.
You'll need to create Figma account if you don't have one already in order to view the mockup.

[2019-12-13 15:51] owonwo commented on #39
joseph.owonwo@gmail.com

[2019-12-13 15:52] cryptogoth commented on #39
Okay I think I have a publicly viewable link now
https://www.figma.com/file/eiVedZmhOLoHh4WAQgleTQ/Confidential-Transfer-Demo-Copy

Please try again. I'll add your email as well.

[2019-12-13 15:57] cryptogoth commented on #39
You can click the "Play" button in the top right to view the interactive click-through demo.

[2019-12-13 15:57] owonwo commented on #39
Ok.

[2019-12-13 18:03] seichris commented on #39
@cryptogoth @owonwo The link to the original file should be accessible again https://www.figma.com/file/46KvltxYaEXPazXweqQIEV/Confidential-Transfer-Demo?node-id=31%3A2

[2019-12-13 20:27] cryptogoth commented on #39
Thanks Chris, I was able to make a copy as well.

On Dec 13, 2019, 1:03 PM, at 1:03 PM, Chris Seifert <notifications@github.com> wrote:

[2019-12-15 13:43] owonwo commented on #39
@cryptogoth I didn't find the **Inter** font on google. So I downloaded it for local use, hope that's fine with you?

[2019-12-15 14:48] cryptogoth commented on #39
hi @owonwo that's ok, we can substitute a similar, freely available font in the final implementation.
Don't worry about it for now.

[2019-12-17 23:16] owonwo commented on #39
![Screenshot 2019-12-18 at 12 14 56 AM](https://user-images.githubusercontent.com/29642861/71042248-806a9380-212b-11ea-9e46-516809cdc9da.png)

Do these represent images or just a badge? If it's a badge is it allowed to only contain 3 chars?

[2019-12-17 23:37] cryptogoth commented on #39
It's meant to be text with a circular border, like with CSS border radius for maximum rounded corners of an HTML element. Thanks for asking. They are between 2 and 4 characters, but almost always 3 characters, and you can assume it's 3 for now

⁣Get BlueMail for Android ​

On Dec 17, 2019, 6:17 PM, at 6:17 PM, Joseph Owonvwon <notifications@github.com> wrote:

[2019-12-18 13:29] owonwo commented on #39
@cryptogoth
Thoughts Please: https://vigilant-wiles-4b7d39.netlify.com/

[2019-12-18 14:33] cryptogoth commented on #39
Wonderful @owonwo it is very true to the mockup,
and the switch from Step 1 to Step 2 focuses attention in the right way. I like the "James Cameron" name, nice Avatar ref :)

How did you feel about the experience of coding this up?
Was there anything you thought could be more effective for the user in this interaction, or anything from the mockup or bounty description that could be more clear for

[2019-12-18 14:58] owonwo commented on #39
Where does the 3

I don't understand the 3 index. @cryptogoth Where does it apply?

[2019-12-18 15:01] cryptogoth commented on #39
@owonwo sorry i meant to include this second mockup, which was in the original bounty description, but further down
https://www.figma.com/file/KEV19jwlvgd3m9lexQx9KL/Confidential-Transfer-Demo?node-id=0%3A1

It goes to the right of Step 2.

[2019-12-18 16:25] owonwo commented on #39
Ok. I've updated the link @cryptogoth

[2019-12-18 17:18] cryptogoth commented on #39
Thanks @owonwo the price interaction works great, and I'll move the remaining changes I requested to the next bounty. I can tell you put a lot of work into this one. We can call this task done as soon as you create a pull request and add your source code to the repo.

[2019-12-18 18:03] owonwo commented on #39
Which branch should i make a PR to? @cryptogoth

[2019-12-18 18:07] cryptogoth commented on #39
@owonwo you can create your own branch. you might have to fork the repo first, commit your files to the fork/branch, then you can create a PR against that. Hope that makes sense.

[2019-12-19 15:41] owonwo commented on #39
I tried. It didn't work @cryptogoth

[2019-12-19 15:43] owonwo commented on #39
You could create an orphan branch so I can pull it there instead. 😅

[2019-12-19 16:04] cryptogoth commented on #39
@owonwo sorry to hear about the troubles. Did you try forking first?
This is an example of another PR created by another gitcoin contributor
https://github.com/invisible-college/democracy/pull/34

[2019-12-19 16:31] owonwo commented on #39
I have made the PR. #40

[2019-12-19 17:03] owonwo commented on #39
@cryptogoth I have seen the merge. So what happens next?

[2019-12-19 17:04] cryptogoth commented on #39
Thanks @owonwo I took a look at your source code, and everything builds and runs cleanly locally.
Nice use of tailwinds and the abstraction into React components, I especially liked the use of `fade` and a CSS style to enable/disable cards, and the hover interaction of the token amounts.

Some minor notes, in case you are interested in future bounties
* you can commit the changes to the `master` b

[2019-12-19 17:07] cryptogoth commented on #39
If you'd like to give any feedback, I'm curious to know what it was like to work on the bounty so I can improve future tasks. Specifically:
* how many hours did it take you total, if you counted?
* what would have made it easier or more enjoyable to work on?
* if you were to use the page yourself, what improvements to the design or usability would make it more clear to the user what's going on?

[2019-12-19 17:16] owonwo commented on #39
*how many hours did it take you total, if you counted?*
For the development period i spent:
- about 24hours for the design
- about 43hours converting to components.

*what would have made it easier or more enjoyable to work on?*
**The first was fine. The second lacked a prototype. So I guessed the flow. Otherwise, I would have planned the structure in a better way.**

*if you were to use the page

[2019-12-19 18:47] #39 closed

[2019-12-19 18:48] cryptogoth commented on #39
Thank you @owonwo it was a pleasure to see your work this time. I'll invite you to any related future bounties, and look forward to it again.

[2019-12-21 02:08] cryptogoth opened #41 "Add auto-created Ethereum account to zk-transfer-web"
## Background

This task is part of a larger project to create an interactive web demo / playground for users to learn about zero-knowledge assets and gain intuition about them by directly transacting with the contracts on-chain.

## Task Description and Examples

A static demo, created with `react-scripts`, not connected to the blockchain, is currently running on:
https://vigilant-wiles-4b7d39.ne

[2019-12-22 21:15] owonwo commented on #41
@cryptogoth I can give this a try.

[2019-12-23 01:02] cryptogoth commented on #41
Thanks for interest @owonwo, I haven't added this as a bounty yet, and it's easy for me to do. There are other bounties I think you can help with, which I'll post tomorrow or later tonight.

On Dec 22, 2019, 4:15 PM, at 4:15 PM, Joseph Owonvwon <notifications@github.com> wrote:

[2020-01-06 20:10] cryptogoth commented on #41
Glad to have your help @molecula451 let me know if I can answer any questions.
@owonwo I'll be posting additional bounties soon to continue adding onto the React/Typescript site you started.

[2020-01-06 22:37] owonwo commented on #41
I got you @cryptogoth. I'll be available as always.

[2020-01-07 12:02] cryptogoth opened #42 "Show what users are online using Whisper"
# Work-in-progress

This issue is not yet complete.

## Background

This task is part of a larger project to demonstrate zero-knowledge assets in a browser.
Zero-knowledge assets can benefit from a private messaging system, such as Whisper, for direct peer-to-peer, encrypted communication which is unreadable to another other party, including any intermediate servers hosting the static site, or the

[2020-01-08 07:21] cryptogoth commented on #41
@owonwo I haven't heard back from @molecula451 can you apply and start work for this task please?

I appreciate that you already took a look at it several weeks ago.

[2020-01-08 10:37] cryptogoth opened #43 "Add random screen names to zk-transfer-web"
## Background

This task is part of a larger project to create an interactive web demo / playground for users to learn about zero-knowledge assets and gain intuition about them by directly transacting with the contracts on-chain.

## Task Description and Examples

A static demo, created with react-scripts, not connected to the blockchain, is currently running on:
https://vigilant-wiles-4b7d39.netl

[2020-01-08 10:48] owonwo commented on #41
@cryptogoth Okay.

[2020-01-08 14:05] owonwo commented on #41
@cryptogoth I tried doing that. But i think you @molecula451 have to stop work first.

[2020-01-08 14:31] molecula451 commented on #41
@cryptogoth I am working on it

[2020-01-08 22:02] cryptogoth commented on #41
thanks for responding @molecula451 what's the status of your work?

[2020-01-09 03:22] molecula451 commented on #41
since it's in hot-wheels and mocked up the whole full site I am leaving the work to @owonwo go ahead and get it

[2020-01-09 23:37] cryptogoth commented on #41
Okay @molecula451 sorry for misunderstanding.
This does help me think of better ways to communicate, perhaps gitter or the gitcoin slack.
I hope we can collaborate again in the future

[2020-01-11 00:27] owonwo commented on #41
@cryptogoth should the `https://rinkeby.etherscan.io` be opened in another tab?

Do you happen to know a better medium of communication like Slack. Because i tried joining the invisible-college Slack challenge, but that didn't work.

[2020-01-11 00:37] owonwo commented on #41
And also when i change the `NODE_ENV` variable attached to the `window` global. I get the following error message in my browser console.
![Screenshot 2020-01-11 at 1 35 07 AM](https://user-images.githubusercontent.com/29642861/72195493-d83aa880-3412-11ea-9313-d28add5fdc1b.png)

[2020-01-11 01:31] cryptogoth commented on #41
Thanks for reporting @owonwo
You can use "NODE_ENV='TEST'" for now as well, I'll investigate.

[2020-01-11 02:03] cryptogoth commented on #41
@owonwo yes, etherscan should open in a separate tab.
If only we had the private web messenger that is part of this web demo :)
You can join the chat on gitter
https://gitter.im/invisible-college/democracy?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge

[2020-01-11 10:36] cryptogoth commented on #41
@owonwo i've updated the JS file now to fix the error you found above.
You can see new sample source code here:
https://glitch.com/edit/#!/kindhearted-bathtub?path=demo.html:12:130

it's running at:
https://kindhearted-bathtub.glitch.me/demo.html
(it will take a few seconds, you can watch the debug messages in web inspector console)

[2020-01-11 21:16] owonwo commented on #41
@cryptogoth i have deployed the changes. It takes quite sometime initializing. Do well to see the logs in the browser console. Let me know if i did it right.

[2020-01-11 23:06] cryptogoth commented on #41
nice work @owonwo
The initializing is indeed slow, but we can speed it up in a future task.

Can you submit a PR and also turn over ownership of that Netlify instance to the team `cryptogoth`? If you like, you can DM me on gitter (I'm @cryptogoth) your email address.

[2020-01-13 04:44] cryptogoth opened #45 "Display deployed ZK tokens with balances"
## Background

This task is part of a larger project to create an interactive web demo / playground for users to learn about zero-knowledge (ZK) assets and gain intuition about them by directly transacting with the contracts on-chain.

Your task is to implement the part of the static site that is currently hard-coded to display fake balances of ZK tokens.

![screenshot](https://user-images.githubu

[2020-01-13 17:31] cryptogoth commented on #41
@owonwo can you submit your work (I think you enter in your pull request URL) on Gitcoin? It's necessary for me to pay out the bounty for your valuable effort.

[2020-01-13 20:09] owonwo commented on #41
I didn't have enough gas and i can't send coin to MetaMask because Luno says i have to wait for 24 hours before they can enable sending. I also notice that the bounty was cancelled somehow, please can you look into it?

[2020-01-14 19:32] mul53 commented on #43
Hey @cryptogoth I'm done with the feature just have one concern. The `demo.clientInit()` takes a quite seconds to return the chainId field. Which leaves the field empty until the clientId is received.

[2020-01-14 21:33] cryptogoth commented on #41
I was able to pay out the bounty after all without a submission. You'll need a little bit of ETH in the future to pay for gas fees, until git coin implements meta tx's.

⁣ thanks again!

On Jan 13, 2020, 3:10 PM, at 3:10 PM, Joseph Owonvwon <notifications@github.com> wrote:

[2020-01-14 21:45] cryptogoth commented on #43
Great @mul53 can you post a link to a netlify instance showing your work, and also a link to your pull request?

It's true, wallet initialization takes a few seconds. Can you merge or rebase commits to the latest master, which I merged yesterday from @owonwo? He added a way not to block page rendering during `clientInit`, and then to update the wallet address after loading.

Let's discuss the code

[2020-01-15 01:12] cryptogoth commented on #43
Oh I see the PR right now. It doesn't contain code for integrating the docker-names package into the React components. Do you have more code to commit?

On Jan 14, 2020, 2:32 PM, at 2:32 PM, mul53 <notifications@github.com> wrote:

[2020-01-15 09:02] mul53 commented on #43
I have added something please take a look. The CI for the project automatically provides a netlify instance [link](https://deploy-preview-46--zk-transfer.netlify.com/) when i push to the PR.

There is another concern, in regard to the usernames when a username is not present in localstorage and a username is generated and stored in localstorage. That prevents a random username been generated every

[2020-01-15 21:40] cryptogoth commented on #43
@mul53 thanks, I just noticed there is an automatically generated Netlify deploy / preview link. It's very useful. I'll receive your PR now.

[2020-01-16 03:15] #41 closed

[2020-01-18 06:46] #43 closed

[2020-01-23 14:45] cryptogoth opened #47 "Project management: create and manage a Gitcoin bounty for zk-transfer-web"
## Background

This task is part of a larger project to create an interactive web demo / playground for users to learn about zero-knowledge assets and gain intuition about them by directly transacting with the contracts on-chain.

You can view a demo-in-progress at https://zk-transfer.netlify.com

## This Task

This is a project management meta-issue: you will be reading the high-level requirement

[2020-01-27 18:41] cryptogoth commented on #45
Hi @acolytec3 thanks for applying. I liked your work on the Eth 2.0 client architecture and some gitcoin devops scripts. Can you post some examples of your past react / web3 work?

[2020-01-27 18:48] acolytec3 commented on #45
@cryptogoth see [Arwen](https://github.com/acolytec3/arwen).  I built it for a hackathon last year.  You can see the demo app [here](https://acolytec3.github.io/arwen).  Most of the other web3 work I've done has been in Python and Dart (most recently).

[2020-01-27 19:17] cryptogoth commented on #45
Very cool @acolytec3 you're approved to start. Let me know if you have any questions or feedback here, or for sidechatter / talk about past / future bounties, you can join [our gitter channel](https://gitter.im/invisible-college/democracy?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge)

[2020-01-27 19:38] cryptogoth commented on #45
@ashline thanks for your interest. I've given the go-ahead to @acolytec3 for this task, but you are welcome to give it a go just for learning. Walk through the steps of the task until the very end, and feel free to join us in [our gitter channel](https://gitter.im/invisible-college/democracy?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge)

I'll post more bounties in the future, and your q

[2020-02-01 11:09] acolytec3 commented on #45
@gitcoinbot Yes, been looking at it. Will put more focus on it this weekend.

[2020-02-03 16:05] owonwo commented on #45
@cryptogoth Should i add https://immerjs.github.io/immer/ to the project. I need to update state immutably.

[2020-02-03 18:26] owonwo commented on #45
@cryptogoth I followed the instructions as. Every ZK Token address returns zero notes. What do i do about it?

[2020-02-10 20:56] Sirlupinwatson1 opened #48 "Report tx success or failure"
## Work-in-progress
This issue is not yet complete.

## Background
This task is part of a larger project to demonstrate zero-knowledge assets in a browser.
Zero-knowledge assets can benefit from a private messaging system, such as Whisper, for direct peer-to-peer, encrypted communication which is unreadable to another other party, including any intermediate servers hosting the static site, or the

[2020-02-17 18:08] Sirlupinwatson1 commented on #47
Thanks for the approval @cryptogoth !

Much appreciated.
---------------------------

I did send you a message on [#democracy channel](https://gitter.im/invisible-college/democracy)
and [private message](https://gitter.im/cryptogoth)

<img src="http://buildinternet.s3.amazonaws.com/images/dribbble-php/github-octacat.jpg" alt="See the source image" class=" nofocus" tabindex="0" aria-label="See the

[2020-02-20 22:21] owonwo commented on #45
Now am getting this error.
![image](https://user-images.githubusercontent.com/29642861/74985408-ad8f3700-5437-11ea-937c-49260a1f34a7.png)

[2020-02-22 21:04] cryptogoth commented on #45
Good point. You'll need to add the module `immutable`, which has source code here:
[code]

Since we use `yarn` in our project, you would run
[code]

[2020-03-08 02:47] cryptogoth opened #50 "Confidential transfer to a fixed recipient"
# Work-in-progress
This issue is not yet complete, do not begin yet.

[2020-03-10 20:49] cryptogoth opened #51 "Improve `.env` handling of secrets"
# Work-in-progress

We are still scoping out this issue as a team.
Ask in Gitter channel if you are interested in working on it.

Currently we handle configurations and secrets inconsistently.
Sometimes they are saved in `.env` which is committed into version control for ease-of-use with CircleCI / testing.

Sometimes we save a default `.env.sample` file and ask a user to rename it to `.env` with

[2020-03-12 05:13] cryptogoth commented on #45
Merged as #49

[2020-03-12 05:13] #45 closed

[2020-03-18 05:14] cryptogoth opened #53 "Auto-minting of ZK notes (on Rinkeby)"
## Background

This task is part of a larger project to create an interactive web demo / playground for users to learn about zero-knowledge (ZK) assets and gain intuition about them by directly transacting with the contracts on-chain.

Currently when a new user first loads the page (the majority of user experiences), they will see a zero ZK note balance, as show in the screenshot below. This is no

[2020-03-18 16:19] cryptogoth commented on #53
welcome @sebastianf !
Thanks for your interest. Can you join me and @owonwo in our gitter channel for discussion?
https://gitter.im/invisible-college/democracy

He has written most of our React code, so you might have a mutually interesting conversation.

[2020-03-19 04:26] cryptogoth commented on #50
This issue is reserved for you @owonwo
Please accept your invite for write access to the repo, and welcome to the team!
🎊 😀

[2020-03-26 17:34] cryptogoth commented on #53
@owonwo Can I have a code review please?
https://github.com/invisible-college/democracy/pull/55

[2020-03-27 17:08] cryptogoth opened #56 "Export `minedTx` `deployed` funcs as reusable to `zk-transfer-web`"
These are currently embedded in `aztec-web` and need to be usable in other projects.

[code]

[2020-04-05 03:05] cryptogoth commented on #53
Implemented by #54

[2020-04-05 03:05] #53 closed

[2020-04-05 04:15] cryptogoth opened #57 "Combine designs for tx statuses, with animation"
## Background

This is a *design* task that is part of a web demo to let people experiment with and develop intuition about zero-knowledge assets. Democracy.js is a project of the Invisible College, a distributed research lab that welcomes collaboration and is offering paid apprenticeships for our existing projects or stipends for you to develop your own projects. Currently, we're looking for peop

[2020-04-05 05:20] cryptogoth opened #58 "Update ZK balances in real-time after auto-minting and receiving"
## Work-in-Progress

This issue is still being developed by @cryptogoth and @owonwo

## Background

This task is part of a larger project to create an interactive web demo / playground for users to learn about zero-knowledge (ZK) assets and gain intuition about them by directly transacting with the contracts on-chain.

You can view the current demo-in-progress at https://zk-transfer.netlify.com

#

[2020-04-05 19:02] cryptogoth commented on #57
welcome @developerfred . Based on your skills with Go and other work, would you be more interested in some backend / Ethereum node work ?

[2020-04-06 17:41] developerfred commented on #57
@cryptogoth  yes of course, i would also like to work with issues in golang.

[2020-04-06 17:44] developerfred commented on #57
@cryptogoth i need access to Figma files, you can invite me codingsh@pm.me

[2020-04-06 21:06] Calvinoea commented on #57
Hello. I spent some time working on this design. I hope it could be of help in some way. https://www.figma.com/file/ajsV8h73fqv8bB48YW83qX/Combined-Designs?node-id=0%3A1

[2020-04-07 02:20] cryptogoth commented on #57
Thanks for reaching out @Calvinoea , @developerfred is currently working on this task, but we will have other bounties in the future.

[2020-04-08 02:34] cryptogoth commented on #50
@owonwo you have a lot of the knowledge necessary to finish this task and would be a *senior* developer in the pair. We'll wait for someone more *junior* to join this task and you can mentor / develop together. You'll both each be paid the bounty.

While you're waiting, you might be interested to take a look at this task:
https://github.com/invisible-college/democracy/issues/58
where I'm reserving

[2020-04-08 04:29] cryptogoth commented on #47
This issue was an experiment to try one way of breaking up project management, a key task in guiding any software project from concept / roadmap, through implementation and shipping, and then support / maintenance.

[2020-04-08 04:30] cryptogoth commented on #47
Well, we'll keep trying :)

[2020-04-08 04:30] #47 closed

[2020-04-08 05:04] cryptogoth opened #59 "Learn how to use Democracy and AZTEC"
## How to Work on This Task

Working on this task requires the following steps
* Introduce yourself in our [gitter channel](https://gitter.im/invisible-college/democracy)! You'll be working with me (@cryptogoth ) and @owonwo and give an update every day or two letting us know what you're thinking, what you're curious about, and asking questions if you're stuck.
* Install the [Mullvad VPN client](m

[2020-04-08 23:44] cryptogoth commented on #58
hi @evgeniuz glad to have you aboard. Please reach out to us on the gitter channel when you get a chance in the next day or so.

@owonwo wrote the React code and has some experience developing with this stack, including minting / transferring ZK notes. We're both happy to answer questions, brainstorm, give feedback, etc.

[2020-04-10 21:54] cryptogoth opened #60 "`minedTx` errors not propagating up through `ethjs`"
Currently, when `ACE.setProof` fails for, e.g. `confidentialMint` (on Rinkeby), this error doesn't propagate up through `ethjs` and cause Democracy to halt, passing on the error to the user.

Therefore, Democracy pipeline proceeds, and saves the generated ZK assets to the REST server, even though they are not verified and committed on-chain:
https://rinkeby.etherscan.io/address/0x99b6764486816e593

[2020-04-13 04:47] cryptogoth commented on #58
@evgeniuz we now have a Rinkeby light node for you to use at https://rinkeby.arcology.nyc
which we're able to use to install EVM log filters (for Solidity events).

You'll need to edit the environment variable to use the new host, in the root JS file for the `zk-transfer-web` project.
`window['RINKEBY.ETH_URL'] = 'https://rinkeby.arcology.nyc'`

Here's a gist showing some `ethjs-filter` usage of 1

[2020-04-13 09:14] cryptogoth commented on #50
welcome @elliotjobmann , glad to have you on board.
@owonwo has started this task, but you can catch up to him by doing the "Minting and Viewing" background above. He's currently blocked on a bug I'm working on, which you can learn more about on Gitter.

[2020-04-14 06:43] cryptogoth opened #61 "Remove dependency on browserfs"
These are the webpack errors in `demo-webify`
[code]

[2020-04-16 15:11] cryptogoth opened #64 "Help create a product roadmap and budget"
## What is this task?

We need project management help to scope out Democracy's roadmap and tasks for the next year, and also to estimate a budget. This is a highly collaborative task, and you'll expect to spend a few hours on Gitter / audio chat with us putting together our goals and various directions for this project, helping refine our vision, and ultimately publishing the roadmap online.

##

[2020-04-16 21:29] cryptogoth commented on #64
Glad to have you with us @adrianhacker-pdx , and I like your collected online writings. Very relevant, especially to the Ethereum node. When you're ready, drop into the gitter channel and we can arrange a time to get started.

[2020-04-17 00:58] adrianhacker-pdx commented on #64
@cryptogoth I will drop in the chat around 8pm PST , (2 hrs from now) looking forward to finding out more about these privacy projects.

[2020-04-17 06:02] cryptogoth commented on #64
hi @adrianhacker-pdx sorry for missing you, my core working hours are a little weird these days. tonight it's about 1am CST (now ish) onwards for a 4-5 hour shift. Currently right now i'm doing task planning with Github projects, without time estimates or budget predictions, which is a useful place to start reading:
https://github.com/invisible-college/democracy/projects

@owonwo is on Nigeria tim

[2020-04-18 00:13] cryptogoth opened #67 "Allow confidential mint totals to be less error-prone"
Currently it is error prone when confidentially minting ZK tokens.
The last  minted total can be lost or decoupled from the current deploy, necessitating de-deployed the ZK token contract and re-minting.

This will not suffice in a production setting, although for now, when users load the demo, it's okay-ish for their balances to be reset to zero.

This will need a more thought-out plan or an admi

[2020-04-18 01:03] cryptogoth commented on #58
Hi @evgeniuz thanks for asking good questions and uncovering our contract deploy error on Rinkeby.
I'll stop your work on the bounty for now to silence these warnings, and I'll rework the bounties to be a smoother ride.
We'll continue to improve our onboarding process, and any feedback or suggestions you offer are appreciated.

[2020-04-19 12:35] elliottjobmann commented on #57
https://www.figma.com/file/qqCXJTRhvxdpzpVGDc5oeM/Untitled?node-id=0%3A1

First draft

[2020-04-19 12:53] cryptogoth commented on #57
@elliottjobmann can you check that link? it doesn't work for me.

[2020-04-19 13:58] elliottjobmann commented on #57
@cryptogoth
https://www.figma.com/file/qqCXJTRhvxdpzpVGDc5oeM/Untitled?node-id=0%3A1

[2020-04-19 13:59] elliottjobmann commented on #57
If it doesn't work DM me your email address and I'll invite you

[2020-04-19 14:07] cryptogoth commented on #57
Very cool @elliottjobmann i can see it now.
![image](https://user-images.githubusercontent.com/148553/79689844-02271680-821d-11ea-8cc8-4340b15daa42.png)

Can you say more about the icons and what various things do when the user clicks on or hovers over them?

If you had to animate some part of this status display, what would it do?

[2020-04-19 14:56] elliottjobmann commented on #57
The only things that can currently do anything are the next arrow in the the first frame which advances the sender to the recipient page, the send arrow in the second frame which "sends" the transaction to the person next to it (initiating the etherscan transaction info which can't be seen at the moment but is there), and the transaction lists on the last three pages all can be scrolled to veiw ol

[2020-04-20 21:19] cryptogoth commented on #60
This is fixed as part of PR #66 that checks the tx receipt to see if `status === 0x1` for success, as part of Byzantium hard fork.

[2020-04-20 21:33] cryptogoth commented on #57
Sure you can concentrate just on the third column (your last three frames), as the Step 1 and Step 2 columns are already animated in the demo.

I like the idea of "Retry" can you make that icon a circular arrow, like in your browser, instead of the paper airplane? Also, please add little text boxes to show what appears to the user when they hover.
"View transaction on Etherscan" and "Retry transac

[2020-04-20 22:03] cryptogoth commented on #57
This legend I think we can make unnecessary.
![image](https://user-images.githubusercontent.com/148553/79802144-181ffe80-8325-11ea-82b4-72c73d2c389a.png)

This we can also rework to be an animation of some kind, with text "Transaction in progress" larger than the past tx's above it, also with a link to the Etherscan. If the tx succeeds or fails, I think it should immediately become a box that push

[2020-04-20 22:08] cryptogoth commented on #48
This task is subsumed by #57

[2020-04-20 22:08] #48 closed

[2020-04-20 22:33] elliottjobmann commented on #57
Thanks! I'll have that sent as a pull request shortly! It's definitely been a struggle trying to get the navigation between the send frame and various transaction frames but i just about have it. There's a hidden frame that has different variations of what a transaction would look after listed that I'll send you a picture of. I'm curious about what your thoughts about how i noted different tokens

[2020-04-21 05:31] cryptogoth commented on #57
Oh I forgot, one last request. (Famous last words)

There are three types of successful tx
Sent, received, and minted, and the minting happens automatically after each page refresh.
Could you please design an icon for minting (eventually we'll have a sound effecting, like a Mario coin jingle), and show it in the examples of your mockup as a past transaction?

Thank you.

[2020-04-21 07:12] cryptogoth opened #68 "Implement UI status and animation for a simulated tx in React"
## Note

This bounty is reserved for @owonwo

## Background

This task is part of a larger project to create an interactive web demo / playground for users to learn about zero-knowledge (ZK) assets and gain intuition about them by directly transacting with the contracts on-chain.

There are three kinds of transactions (tx's) that a user of ZK Transfer will need to know about, and that we should im

[2020-04-22 21:58] cryptogoth commented on #57
@elliottjobmann what you have in the figma now looks great, I wouldn't worry about my request above for a mint transaction. We can add that in a later issue.

Just copy and paste only the essential elements into a new Figma, so that it's clear to an implementor what to implement in React (even if it ends up being you). Thank you for your hard work! It looks great.

[2020-04-22 22:00] cryptogoth commented on #50
@owonwo i'm getting a null context for `Democracy` in this line of `MakeTransaction`
[code]
Do you have this problem as well?
Do you know of a way to keep the top-level `App` component from rendering `MakeTransaction` before  `clientInit()` is complete and a `Democracy` context object is populated?

[2020-04-25 00:57] cryptogoth commented on #57
@elliottjobmann can you submit a link to your Figma in Gitcoin
https://gitcoin.co/issue/invisible-college/democracy/57/4171?mutate_worker_action=approve&worker=elliottjobmann

After that, everything looks great, and I'll close out this issue.

[2020-07-03 09:59] #57 closed

[2020-07-05 15:23] cryptogoth commented on #60
The success/failure of a tx is now propagated all the way up through ethjs.

[2020-07-05 15:23] #60 closed

[2020-07-21 18:58] #68 closed

[2020-08-07 15:05] #64 closed

[2020-08-07 15:06] #51 closed

[2020-08-07 15:06] #61 closed

[2020-08-07 15:37] #37 closed

[2020-08-16 08:43] mrarashel commented on #42
Excellent project

[2020-08-16 23:03] cryptogoth commented on #42
Thanks for your interest!

On Aug 16, 2020, 4:43 AM, at 4:43 AM, Rahimuddin Alrashel <notifications@github.com> wrote:

[2020-08-17 12:35] cryptogoth commented on #42
thanks for applying.

@sebastiantf please set up a time to pair set up your dev environment with me at https://calend.ly/paulpham , you're approved to start work.

@shad-k we can use more Typescript experience in the future, please stay in touch.

[2020-08-17 14:25] cryptogoth commented on #42
@sebastiantf also please join us in our public dev channel to get started when you're ready,
either on Gitter or Element (they are bridged)
https://gitter.im/invisible-college/democracy
https://matrix.to/#/!mJYqcDFJMycvtLUUgk:matrix.org?via=matrix.org

Cheers and welcome! :wave:

[2020-08-17 22:14] cryptogoth commented on #42
@sebastiantf i've set up an AWS VM with the right development environment at `gdsoumya.arcology.nyc`
To get access when you're ready, just send me your SSH public key.
It's in the file `~/.ssh/id_rsa.pub` or `~/.ssh/id_ecdsa.pub`, and if it doesn't exist,
I recommend creating it with ECDSA
[code]
and press enter to accept all the defaults and empty passphrase.

Then copy us the contents of your pu

[2020-08-20 18:00] sebastiantf commented on #42
On it @gitcoinbot

[2020-08-23 19:34] cryptogoth commented on #42
@owonwo @sebastiantf created a preliminary PR at #83

It creates a client using the `invisible-bot` password account, joins the room `#invisible-college/zk-transfer-web` (which you should join as well in Element / Matrix), and sends a "Hello World" message. You can run it in `matrix-react-demo` with

[code]

We have our own matrix server running on `https://cryptogoth.arcology.nyc`, which you can

[2020-08-25 16:14] sebastiantf commented on #42
Yes @gitcoinbot

[2020-08-26 00:15] cryptogoth commented on #42
Hi @sebastiantf please join the gitter or matrix chat to discuss task progress in the next day, if youre still interested in working on this task.

On Aug 25, 2020, 12:15 PM, at 12:15 PM, Sebastian T F <notifications@github.com> wrote:

[2020-09-10 09:45] cryptogoth commented on #42
@owonwo `darkchat-client` is now ready and waiting for you to use with React/typescript!
We won't be using `matrix-js-sdk` anymore, as it is not really designed for use with dapp clients and is still more heavyweight than our custom solution.

You can see an example of `darkchat-client` here:
https://github.com/gdsoumya/distributed_chat/blob/master/packages/web/src/App.tsx

which is used on the li

[2020-09-12 17:26] shad-k commented on #42
@cryptogoth You've recently approved me to work on this, but reading the comments it seems the majority of the work has been completed. Could you tell me what do you want me to work on?

[2020-09-12 20:38] cryptogoth commented on #42
hi @shad-k I would say the work is only 1/4 complete. We have the private chat / coordination library ready, and would still appreciate feedback on using that. You can read my comments to @owonwo above. He appears to be away from internet access, but I and @gdsoumya are here to help answer any questions.

The next step is Subtask 2, which is using `darkchat-client` to broadcast and receive the app

[2020-09-12 20:39] cryptogoth commented on #42
Also, I know it's been several weeks, so I appreciate the fast response. Let me know if you're still available and interested in working on this task.

[2020-09-21 17:22] shad-k commented on #42
Hi, sorry couldn't pick this up because of other commitments. I am not very sure of my availability over the next couple of days, please feel free to assign this to someone else.